* {
	box-sizing: border-box;
}
#chart{
	display:none;
	float: left;
	padding: 10px;
	border: solid black;
}
canvas{
	float: left;
	padding: 10px;
	width: 20px;
	box-sizing: content-box;

}
[class*="col-"] {
	float: left;
	padding: 10px;
	border: solid black;
}
.col-1 {width: 100%;}
.col-2 {width: 8.66%;}
.col-3 {width: 91.33%;}
.chart{width: 50.33%}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	disply:inline;
}
.menu a{
	margin-bottom: 7px;
	background-color: #33b5e5;
	color: #ffffff;
}
a:hover{
	background-color: #0099cc;
}
.menu li:hover {
	background-color: #0099cc;
}
a{
	background-color: #33b5e5;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a.button {
	-webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
