.leftdiv {
    float: left;
    padding : 1%;
    background-color: 009900;
    width: 30%;
}
.middlediv {
    float: left;
    padding : 1%;
    background-color: 009900;
    width: 30%;
}
.rightdiv {
    float: left;
    padding : 1%;
    background-color: 009900;
    width: 30%;
}
div.centerdiv{
	width:100%;
}
body{
	font-size:20px;
}
.bfont{
	font:italic bold 20px/30px Georgia, serif;
}
