.leftdiv { 
    float: left; 
} 
.middlediv { 
    float: left; 
} 
.rightdiv { 
    float: left; 
} 
div.centerdiv{
	width:100%;
}
	
div{ 
    padding : 1%; 
    background-color: 009900; 
    width: 30%; 
	float:left;
} 
body{
	font-size:20px;
}
.bfont{
	font:italic bold 20px/30px Georgia, serif;
}