table {
	width:100%;
	border: 2px solid black;
	border-collapse: collapse;	
}

th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	font-size:9pt;
}
.bfont{
	font:italic bold 12px/30px Georgia, serif;
}
	