			* {
			  box-sizing: border-box;
			}

			.header {
			  background-color:#022251;
			  padding:15px;
			}

			.info {
			  width: 35%;
			  float: left;
			  background-color:#022251;
			  padding:15px;
			  color:white;
			}

			.main {
			  width: 30%;
			  float: left;
			  padding:15px;
			  color:white;
			}
			.box {
			  border:#666666 solid 1px;
			  font-size:14px;
			}
			label {
				font-weight:bold;
				width:100px;
				font-size:20px;
			}
			body{
				bgcolor:#CACFD2;
			}